In [13]:
import pandas as pd
from sklearn import preprocessing

In [2]:
data = pd.read_csv("C:\\Users\\DANISH\\Downloads\\cat-in-the-dat-ii\\train.csv")

In [3]:
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [4]:
data.bin_0.value_counts()

0.0    528377
1.0     53729
Name: bin_0, dtype: int64

In [5]:
data.bin_0.isnull()

0         False
1         False
2         False
3          True
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17         True
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
599970     True
599971     True
599972    False
599973    False
599974    False
599975    False
599976    False
599977    False
599978    False
599979    False
599980    False
599981    False
599982    False
599983     True
599984    False
599985    False
599986    False
599987     True
599988    False
599989    False
599990    False
599991    False
599992    False
599993    False
599994    False
599995    False
599996    False
599997    False
599998    False
599999    False
Name: bin_0, Length: 600000, dtype: bool

In [6]:
data.nom_0.value_counts()

Red      323286
Blue     205861
Green     52601
Name: nom_0, dtype: int64

In [7]:
data.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [10]:
data.day.value_counts()

3.0    113835
5.0    110464
6.0     97432
7.0     86435
1.0     84724
2.0     65495
4.0     23663
Name: day, dtype: int64

In [12]:
data.month.value_counts()

8.0     79245
3.0     70160
5.0     68906
12.0    68340
6.0     60478
7.0     53480
1.0     52154
11.0    51165
2.0     40700
9.0     20620
4.0     14614
10.0     2150
Name: month, dtype: int64

In [15]:
lb = preprocessing.LabelEncoder()

In [34]:
lb.fit(data.bin_0.fillna(-1).values)

LabelEncoder()

In [23]:
lb

LabelEncoder()

In [32]:
data.bin_0.values

array([0., 1., 0., ..., 0., 1., 0.])

In [29]:
lb.transform(data.bin_0.fillna(-1).values)

array([1, 2, 1, ..., 1, 2, 1], dtype=int64)

In [37]:
data.bin_0.fillna(-1).values

array([0., 1., 0., ..., 0., 1., 0.])